.main--container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 950px) {
  .main--container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1.5fr 1fr 1.5fr 1.5fr 1.5fr;
        grid-template-rows: 1fr 1.5fr 1fr 1.5fr 1.5fr 1.5fr;
        grid-template-areas: "egg" "transform" "smoothie" "stand-out" "cherry" "orange";
  }
}

.main--container a {
  margin-top: 1em;
  display: inline-block;
  text-decoration: none;
  font-family: "Fraunces";
  font-weight: 900;
  position: relative;
  z-index: 2;
  font-size: 1.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: black;
}

.main--container a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -7px;
  width: 110%;
  height: 12px;
  background: rgba(250, 212, 0, 0.26);
  border-radius: 999px;
  z-index: -1;
}

.main--container a:hover::before {
  background: #fad400;
}

.transform-brand,
.stand-out {
  background: white;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transform-brand .wrap,
.stand-out .wrap {
  max-width: 42ch;
}

.transform-brand .wrap h2,
.stand-out .wrap h2 {
  font-size: 4rem;
  max-width: 20ch;
}

@media screen and (max-width: 950px) {
  .transform-brand .wrap h2,
  .stand-out .wrap h2 {
    font-size: 3.5rem;
  }
}

.transform-brand .wrap p,
.stand-out .wrap p {
  color: #818498;
}

@media screen and (max-width: 950px) {
  .transform-brand .wrap p,
  .stand-out .wrap p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 950px) {
  .transform-brand .wrap,
  .stand-out .wrap {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .egg {
    grid-area: egg;
  }
}

.graphic-cherry,
.photography-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.graphic-cherry .wrap,
.photography-orange .wrap {
  padding: 0 0.5em;
  max-width: 37ch;
  position: absolute;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graphic-cherry .wrap h2,
.photography-orange .wrap h2 {
  font-size: 2.8rem;
  font-weight: 900;
}

@media screen and (max-width: 950px) {
  .graphic-cherry .wrap h2,
  .photography-orange .wrap h2 {
    font-size: 2.2rem;
  }
}

.graphic-cherry .wrap p,
.photography-orange .wrap p {
  font-size: 1.8rem;
}

@media screen and (max-width: 950px) {
  .graphic-cherry .wrap p,
  .photography-orange .wrap p {
    font-size: 1.6rem;
  }
}

.graphic-cherry .wrap .graphic-cherry__h2,
.graphic-cherry .wrap .graphic-cherry__p,
.photography-orange .wrap .graphic-cherry__h2,
.photography-orange .wrap .graphic-cherry__p {
  color: #25564b;
}

.graphic-cherry .wrap .photography-orange__h2,
.graphic-cherry .wrap .photography-orange__p,
.photography-orange .wrap .photography-orange__h2,
.photography-orange .wrap .photography-orange__p {
  color: #19536b;
}

.egg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.smoothie img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.graphic-cherry img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.photography-orange img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #fe7867;
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Barlow";
}

h1,
h2,
h3 {
  margin: 0 0 0.75em 0;
  font-family: "Fraunces";
}

p {
  line-height: 1.6;
}

.structure-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh auto 900px 600px 350px;
      grid-template-rows: 100vh auto 900px 600px 350px;
}

.header {
  background: url("./images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
}

.header nav {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.header nav img {
  width: 200px;
}

@media screen and (max-width: 950px) {
  .header nav img {
    width: auto;
  }
}

.header nav .hamburger {
  display: none;
}

@media screen and (max-width: 950px) {
  .header nav .hamburger {
    display: block;
    cursor: pointer;
  }
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  list-style: none;
}

@media screen and (max-width: 950px) {
  .header nav ul {
    display: none;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header nav ul.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header .intro--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em;
}

@media screen and (max-width: 950px) {
  .header .intro--wrap {
    padding: 2em;
  }
}

.header .intro--wrap h1 {
  letter-spacing: 0.15em;
  font-size: 6rem;
  color: white;
  font-weight: 900;
}

@media screen and (max-width: 950px) {
  .header .intro--wrap h1 {
    font-size: 3.2rem;
    text-align: center;
  }
}

.header .intro--wrap img {
  margin-top: 5em;
  width: 45px;
  -webkit-animation: upDown 1.5s infinite ease-in-out alternate;
          animation: upDown 1.5s infinite ease-in-out alternate;
}

.margin {
  margin-left: 1em;
  margin-right: 1em;
}

.testimonial {
  background: green;
}

.gallery {
  background: orange;
}

.footer {
  background: yellow;
}

@-webkit-keyframes upDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}

@keyframes upDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}
/*# sourceMappingURL=styles.css.map */