html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #fe7867;
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Barlow";
}

h1,
h2,
h3 {
  margin: 0 0 0.75em 0;
  font-family: "Fraunces";
}

p {
  line-height: 1.6;
}

.structure-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh auto auto auto 350px;
      grid-template-rows: 100vh auto auto auto 350px;
}

.header {
  background: url("/images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
}

.header nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.header nav img {
  width: 200px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  list-style: none;
}

.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header .intro--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em;
}

.header .intro--wrap h1 {
  letter-spacing: 0.15em;
  font-size: 6rem;
  color: white;
  font-weight: 900;
}

.header .intro--wrap img {
  margin-top: 5em;
  width: 45px;
}

.margin {
  margin-left: 1em;
  margin-right: 1em;
}

.inner-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.inner-grid .egg,
.inner-grid .smoothie {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-grid .cherry {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-grid .orange {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-items {
  background: pink;
}

.item1,
.item2 {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.item--wrap {
  width: 60%;
}

.item--wrap h2 {
  font-size: 4rem;
  max-width: 16ch;
}

.item--wrap a {
  margin-top: 1em;
  display: block;
  text-decoration: none;
  font-family: "Fraunces";
  font-weight: 900;
  position: relative;
  z-index: 2;
  font-size: 1.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: black;
}

.item--wrap a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -7px;
  width: 110%;
  height: 12px;
  background: rgba(250, 212, 0, 0.26);
  border-radius: 999px;
  z-index: -1;
}

.item--wrap a:hover::before {
  background: #fad400;
}

.item-full--wrap {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-full--wrap img {
  width: 100%;
  height: 100%;
}

.item-full--wrap p {
  font-size: 1.8rem;
  max-width: 37ch;
  margin: 0 auto;
}

.item-full--wrap h2 {
  font-size: 3rem;
}

.item-full--wrap .graphic-design__h2,
.item-full--wrap .graphic-design__p {
  color: #25564b;
}

.item-full--wrap .photography__h2,
.item-full--wrap .photography__p {
  color: #19536b;
}

.item-full--wrap .wrap {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 4em;
}

.testimonial {
  height: 900px;
  background: green;
}

.gallery {
  height: 600px;
  background: orange;
}

.footer {
  background: yellow;
}
/*# sourceMappingURL=styles.css.map */