$colors: (
    primary-SoftRed: hsl(7, 99%, 70%),
    primary-Yellow: hsl(51, 100%, 49%),
    graphicDesignText: hsl(167, 40%, 24%),
    photographyText: hsl(198, 62%, 26%),
    footer: hsl(168, 34%, 41%),
    neutral-veryDark-blue: hsl(212, 27%, 19%),
    neutral-veryDarkGrayish-blue: hsl(213, 9%, 39%),
    neutral-darkGrayish-blue: hsl(232, 10%, 55%),
    neutral-grayish-blue: hsl(210, 4%, 67%),
    white: hsl(0, 0%, 100%),
);

@function color($colorName) {
    @return map-get($colors, $colorName);
}

@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin mobileSize {
    @media screen and (max-width: 950px) {
        @content;
    }
}
