$colors: (
    primary-SoftRed: hsl(7, 99%, 70%),
    primary-Yellow: hsl(51, 100%, 49%),
    graphicDesignText: hsl(167, 40%, 24%),
    photographyText: hsl(198, 62%, 26%),
    footer: hsl(168, 34%, 41%),
);

@function color($colorName) {
    @return map-get($colors, $colorName);
} ;
