.main--container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;

    @include mobileSize {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.85fr 0.5fr 0.85fr 0.85fr 0.85fr;
        grid-template-areas:
            "egg"
            "transform"
            "smoothie"
            "stand-out"
            "cherry"
            "orange";
    }

    .a__link,
    .d__link {
        margin-top: 2em;
        display: inline-block;
        text-decoration: none;
        font-family: "Fraunces";
        font-weight: 900;
        position: relative;
        z-index: 2;
        font-size: 1.8rem;
        width: max-content;
        color: black;

        &::before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: -7px;
            width: 110%;
            height: 12px;

            background: hsla(51, 100%, 49%, 0.26);
            border-radius: 999px;

            z-index: -1;
        }

        &:hover::before {
            background: color(primary-Yellow);
        }
    }

    .d__link::before {
        background: hsla(7, 99%, 70%, 0.37);
    }

    .d__link:hover::before {
        background: hsl(7, 99%, 70%);
    }

    img {
        display: block;
    }
}

.transform-brand,
.stand-out {
    // grid-row: span 2;
    background: white;
    padding: 1em;
    @include flexCenter(column);
    .wrap {
        width: 60%;
        height: 75%;
        // @include flexCenter(column);
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mobileSize {
            align-items: center;
            width: 85%;
        }
        h2 {
            font-size: 4rem;
            max-width: 16ch;

            @include mobileSize {
                font-size: 3.5rem;
            }
        }

        p {
            max-width: 45ch;
            color: color(neutral-darkGrayish-blue);

            @include mobileSize {
                font-size: 1.6rem;
            }
        }

        @include mobileSize {
            text-align: center;
        }
    }

    // @include mobileSize {
    //     grid-row: unset;
    // }
}
.egg,
.smoothie,
.graphic-cherry,
.photography-orange {
    // grid-row: span 2;

    // @include mobileSize {
    //     grid-row: unset;
    // }
}

.egg {
    @include mobileSize {
        grid-area: egg;
    }
}

.graphic-cherry,
.photography-orange {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    position: relative;

    // this wraps the text for the bottom two images of the grid
    .wrap {
        padding: 0 0.5em;
        max-width: 45ch;
        position: absolute;
        bottom: 10%;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 3.2rem;
            font-weight: 900;

            @include mobileSize {
                font-size: 2.6rem;
            }
        }

        p {
            font-size: 2rem;

            @include mobileSize {
                font-size: 1.6rem;
            }
        }

        .graphic-cherry__h2,
        .graphic-cherry__p {
            color: color(graphicDesignText);
        }

        .photography-orange__h2,
        .photography-orange__p {
            color: color(photographyText);
        }
    }
}

.egg {
    // background: url("/images/desktop/image-transform.jpg") center;
    // background-size: cover;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobileSize {
            display: none;
        }
    }

    .mobile-egg {
        display: none;

        @include mobileSize {
            display: block;
        }
    }
}

.smoothie {
    // background: url("/images/desktop/image-stand-out.jpg") center;
    // background-size: cover;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobileSize {
            display: none;
        }
    }

    .mobile-smoothie {
        display: none;

        @include mobileSize {
            display: block;
        }
    }
}

.graphic-cherry {
    // background: url("/images/desktop/image-graphic-design.jpg") top no-repeat;
    // background-size: cover;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;

        @include mobileSize {
            display: none;
        }
    }

    .mobile-cherry {
        display: none;

        @include mobileSize {
            display: block;
        }
    }
}

.photography-orange {
    background: url("/images/desktop/image-photography.jpg") top no-repeat;
    background-size: cover;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;

        @include mobileSize {
            display: none;
        }
    }

    .mobile-orange {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobileSize {
            display: block;
        }
    }
}
