@import "config";

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: color(primary-SoftRed);
    min-height: 100%;
    font-size: 1.8rem;
    font-family: "Barlow";
}

h1,
h2,
h3 {
    margin: 0 0 0.75em 0;
    font-family: "Fraunces";
    // font-weight: 900;
}

p {
    line-height: 1.6;
}

.structure-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto auto 350px;
}

.header {
    background: url("/images/desktop/image-header.jpg") no-repeat center;
    background-size: cover;

    nav {
        height: 100px;
        // background: white;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2em;

        img {
            width: 200px;
        }

        ul {
            display: flex;

            li {
                list-style: none;
            }
        }
    }

    &__intro {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }

    .intro--wrap {
        @include flexCenter(column);
        padding: 5em;

        h1 {
            letter-spacing: 0.15em;
            font-size: 6rem;
            // margin-top: 1.5em;
            color: white;
            font-weight: 900;
        }

        img {
            margin-top: 5em;
            width: 45px;
        }
    }
}

.margin {
    margin-left: 1em;
    margin-right: 1em;
}

.inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    // gap: 0.25em;

    .egg,
    .smoothie {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cherry {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .orange {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.grid-items {
    background: pink;
}

//  these items contain the text that goes next to the full image
.item1,
.item2 {
    background: white;
    @include flexCenter(column);
    padding: 1em;
}

.item--wrap {
    width: 60%;

    h2 {
        font-size: 4rem;
        max-width: 16ch;
    }

    a {
        margin-top: 1em;
        display: block;
        text-decoration: none;
        font-family: "Fraunces";
        font-weight: 900;
        position: relative;
        z-index: 2;
        font-size: 1.8rem;
        width: max-content;
        color: black;

        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: -7px;
            width: 110%;
            height: 12px;

            background: hsla(51, 100%, 49%, 0.26);
            border-radius: 999px;

            z-index: -1;
        }

        &:hover::before {
            background: color(primary-Yellow);
        }
    }
}

.item-full--wrap {
    color: white;
    position: relative;
    @include flexCenter(column);
    // padding: 3em 2em;

    img {
        // position: absolute;
        width: 100%;
        height: 100%;

        // top: 0;
        // left: 0;

        // z-index: -1;
    }

    p {
        font-size: 1.8rem;
        max-width: 37ch;
        margin: 0 auto;
        // color: color(graphicDesignText);
    }

    h2 {
        font-size: 3rem;
    }

    .graphic-design__h2,
    .graphic-design__p {
        color: color(graphicDesignText);
    }

    .photography__h2,
    .photography__p {
        color: color(photographyText);
    }

    .wrap {
        position: absolute;
        bottom: 0;
        text-align: center;
        margin-bottom: 4em;
    }
}

.testimonial {
    height: 900px;
    background: green;
}

.gallery {
    height: 600px;
    background: orange;
}

.footer {
    background: yellow;
}
