@import "config", "main";

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: color(primary-SoftRed);
    min-height: 100%;
    font-size: 1.8rem;
    font-family: "Barlow";
}

h1,
h2,
h3 {
    margin: 0 0 0.75em 0;
    font-family: "Fraunces";
    // font-weight: 900;
}

p {
    line-height: 1.6;
}

.structure-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto auto 350px;
}

.header {
    background: url("/images/desktop/image-header.jpg") no-repeat center;
    background-size: cover;

    nav {
        height: 100px;
        // background: white;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2em;

        img {
            width: 200px;
        }

        ul {
            display: flex;

            li {
                list-style: none;
            }
        }
    }

    &__intro {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }

    .intro--wrap {
        @include flexCenter(column);
        padding: 5em;

        h1 {
            letter-spacing: 0.15em;
            font-size: 6rem;
            // margin-top: 1.5em;
            color: white;
            font-weight: 900;
        }

        img {
            margin-top: 5em;
            width: 45px;
        }
    }
}

.margin {
    margin-left: 1em;
    margin-right: 1em;
}

.testimonial {
    height: 900px;
    background: green;
}

.gallery {
    height: 600px;
    background: orange;
}

.footer {
    background: yellow;
}
