@import "config", "main";

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: color(primary-SoftRed);
    min-height: 100%;
    font-size: 1.8rem;
    font-family: "Barlow";

    // .big-wrap {
    //     max-width: 1440px;
    //     margin: 0 auto;
    //     box-shadow: 0 5px 10px 15px rgba(0, 0, 0, 0.185);
    // }

    &.display {
        overflow: hidden;
    }
}

h1,
h2,
h3 {
    margin: 0 0 0.75em 0;
    font-family: "Fraunces";
    // font-weight: 900;
}

p {
    line-height: 1.6;
}

.structure-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto 900px 600px 350px;
}

.header {
    background: url("../images/desktop/image-header.jpg") no-repeat center;
    background-size: cover;

    @include mobileSize {
        background: url("../images/mobile/image-header.jpg") center;
        background-size: cover;
    }

    nav {
        min-height: 100px;
        // background: white;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2em;

        img {
            width: 200px;

            @include mobileSize {
                width: auto;
            }
        }

        .hamburger {
            display: none;

            @include mobileSize {
                display: block;
                cursor: pointer;
            }
        }

        .ul-wrap {
            @include mobileSize {
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;
            }
        }

        ul {
            display: flex;

            @include mobileSize {
                height: 0;
                transition: 1s ease-in;
                visibility: hidden;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                z-index: 999;
                top: -10px;
                background: color(white);
                transition: top 1s, opacity 0.5s;
                opacity: 0;
                padding: 1em;

                &.display {
                    visibility: visible;
                    display: flex;
                    height: auto;
                    top: 35px;
                    opacity: 1;
                }
            }

            .margin {
                margin-left: 1.5em;
                margin-right: 1.5em;

                @include mobileSize {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            li {
                list-style: none;

                @include mobileSize {
                    padding: 1em;
                }

                a {
                    text-decoration: none;
                    color: color(white);

                    @include mobileSize {
                        color: color(neutral-grayish-blue);
                    }
                }

                .contact-btn {
                    color: black;
                    background: color(white);
                    padding: 0.75em 1.25em;
                    border-radius: 999px;
                    font-family: "Fraunces", Arial;
                    font-weight: 700;
                    margin-left: 2em;
                    font-size: 1.6rem;
                    @include mobileSize {
                        background: color(primary-Yellow);
                        margin: 0;
                    }
                }
            }

            .ul__corner-piece {
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-right: 20px solid rgb(255, 255, 255);
                position: absolute;
                right: 0;
                top: -20px;
                opacity: 0;

                @include mobileSize {
                    opacity: 1;
                }
            }
        }
    }

    &__intro {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }

    .intro--wrap {
        @include flexCenter(column);
        padding: 5em;

        @include mobileSize {
            padding: 2em;
        }

        h1 {
            letter-spacing: 0.15em;
            font-size: 6rem;
            // margin-top: 1.5em;
            color: white;
            font-weight: 900;

            @include mobileSize {
                font-size: 3.2rem;
                text-align: center;
            }
        }

        img {
            margin-top: 5em;
            width: 45px;
            animation: upDown 1.5s infinite ease-in-out alternate;

            &.display {
                display: none;
            }
        }
    }
}

.testimonial--container {
    background: color(white);
    @include flexCenter(column);

    .client-testimonials--wrap {
        @include flexCenter(row);
        width: 75%;
        outline: solid black 2px;
        text-align: center;
        @include mobileSize {
            flex-wrap: wrap;
        }
    }

    .testimonial {
        height: 100%;
        outline: solid red 2px;
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img {
            width: 100px;
            height: 100px;
            border-radius: 999px;
        }
    }

    .testimonial__name--wrap {
        outline: solid green 2px;
    }
}

.gallery {
    background: orange;
}

.footer {
    background: yellow;
}

@keyframes upDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(35px);
    }
}
